<ul class="nav nav-pills">
  <!-- routerLinkActive="active" == [routerLinkActive]="'active'" -->
  <li class="nav-item">
    <!-- routerLink käyttää property bindingia
  jos tarkoitus on välittää merkkijono kuten tässä, routerLink="/" tai routerLink="/new-character" toimisi myös,
  mutta routerLink="funktionNimi()" aiheuttaisi virheen, koska Angular olettaa että ""-merkkien välissä on merkkijono -->
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="'/characters'">
      Moomin Valley characters
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="'/new-character'">
      Add a new character
    </a>
  </li>
</ul>


