<!-- Tämä menee app.component.html:n sisälle-->
<div>
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <!-- onChoose kuuntelee klikkausta ja kertoo minkä valinnan tab näytetään -->
      <a routerLinkActive="active" routerLink="/characters/all">All</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/characters/light">Light</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/characters/dark">Dark</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
